.container {
  padding: 0 2rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.pageLink {
  cursor: pointer;
}

/* pagination pageItem */
.pageItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 2rem;
  cursor: pointer;
  margin: 10px;
}

/* pagination page item when active */
.pageItemActive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 2rem;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
}
